@font-face {
  font-family: 'chinyen';
  src: url('base/fonts/Chinyen.ttf');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #eaeaea;
}

body main {
  padding: 20px;
}

.md-sidenav-backdrop.md-opaque.ng-scope.md-default-theme{
  position: fixed;
}
md-list-item.active, md-list-item.active md-icon, md-list-item.active p{
  color: #00BCD4;
  font-weight: bold;
}
/***************************/
/*  System-bar and header  */
/***************************/
header{
  -webkit-user-select: none;
}
#system-bar{
  background-color: #009ab2;
  -webkit-app-region: drag;
}
#system-bar .controls{
  float: right;
  padding: 0 8px;
}
#system-bar .controls md-icon{
  padding: 4px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  -webkit-app-region: no-drag;
}

#system-bar .controls md-icon:hover{
  color: #000;
}

#system-bar .controls md-icon:focus{
  outline: none;
}

.logo {
  font-family: 'chinyen';
  text-align: center;
}


.folder-tile{
  background-color: white;
}
.folder-tile md-icon {
  display: block;
  width: 60px;
  height: 60px;
}
.folder-tile h3{
  display: block;
}


.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
