<header ng-controller="HeaderCtrl as vm">
  <div id="system-bar" class="clearfix" >
    <div class="controls">
      <md-icon md-svg-icon="content:remove" ng-click="vm.minimize()"></md-icon>
      <md-icon md-svg-icon="navigation:fullscreen" ng-click="vm.maximize()"></md-icon>
      <md-icon md-svg-icon="content:clear" ng-click="vm.close()"></md-icon>
    </div>
  </div>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="menu" ng-click="vm.openMenu()">
        <md-icon md-svg-icon="navigation:menu"></md-icon>
      </md-button>
      <h2>
        <span>Mang</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-icon="" style="color: greenyellow;"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
</header>
